# Dependencies and AdonisJS build
node_modules
build
tmp
venv
.venv
main.py
__init__.py

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store
__pycache__

# Misc
.venv
data.db 
config.py
constants.py
myenv
ListeUtilisateurs.txt